.processRow-opened { background: #9c9c9c; border: 1px solid #898989;}
.processRow { background: #ffffff; }
.processRow-hover { background: #e2e2e2; }
.processRow-max { background: #fabbbb; border: 1px solid #faa5a2; }
.processRow-max-hover { background: #faa5a2; border: 1px solid #faa5a2; }
.subProcessSubRow { background: #f2f2f2; }
.subProcessSubRow-hover { background: #e2e2e2; }
.subProcessSubRow-max { background: #fabbbb;  border: 1px solid #faa5a2; }
.subProcessSubRow-max-hover { background: #faa5a2; border: 1px solid #faa5a2; }

.sidebar-buttons {
    border-style: none;
    background-color: #f4f4f3;
    border-radius: 0;
}

rggraph#CpuGraphAllCores {
    background-color: #ffffff;
    background-size: 57px 57px;
    background-image: repeating-linear-gradient(0deg, #f0f1f2, #f0f1f2 2px, transparent 2px, transparent 57px);
}

CookieGraph.used {
    color: #4a90d9;
}

CookieGraph.others {
    color: #707070;
}

CookieGraph.available {
    color: #fafafa;
}