.processListBoxRow-opened { background: #3b4043; }
.processListBoxRow { background: #232729; }
.processListBoxRow-hover { background: #4d5356; }
.processListBoxRow-max { background: #8E0000; }
.processListBoxRow-max-opened { background: #b40000; }
.processListBoxRow-max-hover { background: #b40000; }
.processDetailListBoxRow { background: #2c3032; }
.processDetailListBoxRow:hover { background: #4d5356; }

row { padding: 0 }

.sidebar-buttons {
    border-style: none;
    background-color: #2b3032;
    border-radius: 0;
}