.processRow-opened { background: #3b4043; border: 1px solid #898989; }
.processRow { background: #232729; }
.processRow-hover { background: #4d5356; }
.processRow-max { background: #8E0000; border: 1px solid #faa5a2; }
.processRow-max-hover { background: #b40000; border: 1px solid #faa5a2; }
.subProcessSubRow { background: #2c3032; }
.subProcessSubRow-hover { background: #4d5356; }
.subProcessSubRow-max { background: #fabbbb;  border: 1px solid #faa5a2; }
.subProcessSubRow-max-hover { background: #faa5a2; border: 1px solid #faa5a2; }

list, graph-box {
    border: 1px solid #3f3f3f;
}

separator.list {
    background-color: #3f3f3f;
}


row {
    padding: 0;
    /*background: #232729;*/
}

row:hover {
    padding: 0;
    background: #4d5356;
}

graph-switcher-button {
    padding: 6px 10px;
    border-style: none;
    background-color: #2b3032;
    border-radius: 0;
}

graph-switcher-button:hover {
    background-color: #484f51;
}

graph-switcher-button:checked {
    background-color: #383D3F;
}

graph-switcher-button:active {
    background-color: #383D3F;
}

line-graph.big {
    background-color: #232729;
    background-size: 57px 57px;
    background-image: repeating-linear-gradient(0deg, #3f3f3f, #3f3f3f 1px, transparent 1px, transparent 57px);
}

CookieGraph.used {
    color: #4a90d9;
}

CookieGraph.others {
    color: #4d5356;
}

CookieGraph.available {
    color: #232729;
}