[Desktop Entry]
Name=GNOME Usage
Comment=View current application and monitor system state
Categories=GNOME;GTK;
Exec=gnome-usage
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=gnome-usage
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;
