[Desktop Entry]
Name=Usage
Comment=View current application and monitor system state
Categories=GNOME;GTK;
Exec=gnome-usage
Icon=application-default-icon
Terminal=false
StartupNotify=true
Type=Application
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;Performance;Task;Manager;
