graph-box:not(.card) {
    border: 1px solid @borders;
    border-radius: 6px;
}

listview row {
    font-feature-settings: "tnum";
}

listview.switcher-sidebar > row {
    padding: 8px;
}

/* ListView is not supported by .boxed-list, this is needed for using .card */
listview.card > row:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

listview.card > row:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

rg-graph.big {
    background-size: 57px 57px;
    background-image: repeating-linear-gradient(0deg, @borders, @borders 1px, transparent 1px, transparent 57px);
}

StorageGraph {
    color: @view_bg_color;
}

/* Speedometer */
Speedometer {
    font-feature-settings: "tnum";
}

.speedometer-outter, .speedometer-inner, .speedometer-content-area {
    border-radius: 50%;
}

.speedometer-outter {
    background-color: @accent_bg_color;
}

.speedometer-inner {
    margin: -1px;
    background: linear-gradient(90deg, transparent 50%, @view_bg_color 50%),
                linear-gradient(90deg, @view_bg_color 50%, transparent 50%);
    transition: background 200ms ease-in-out;
}

.speedometer-content-area {
    background-color: @window_bg_color;
    margin: 5px;
}

.tag {
    border-style: none;
    border-radius: 3px;
    padding: 3px 6px;
    color: @view_bg_color;
}

.tag.tag-root {
    background-color: red;
}

.tag.tag-system {
    background-color: orange;
}

.tag.tag-user {
    background: alpha(@window_fg_color, 0.4);
}

/* Storage */
.row-tag {
    border-radius: 100%;
    background-color: var(--storage-row-colour);
}

.used-tag {
    background-image:
        linear-gradient(90deg,
                        #737373 33%,
                        #ffe451 33%,
                        #ffe451 66%,
                        #ff002c 66%);
}

.available-tag { background: white; border: 1px solid @borders; }
.os-tag { background: black; }

.storage-row {
    padding: 0 5px;
    font-feature-settings: "tnum";
    --storage-row-colour: var(--accent-color);
}
